<div ui-view="main" class="card big theme-card">
  <img class="banner" src='modules/themes/images/paint.jpg' alt='paint' />

  <section class="content">
    <h1>
      Themes
      <button v-on:click="bool = !bool">On / Off</button>
    </h1>

    <galaxy-animation class="theme-list"
                      effects="galaxy.in-out,galaxy.auto-height"
                      in-out-item="theme-item"
                      in-out-stagger="0.15" >
      <div v-if="bool" class="theme-item" v-for="item in themes" >
        {{ header }} {{ item }}
      </div>
    </galaxy-animation>
  </section>
</div>

<script>

  var state = Scope.import('galaxy/scope-state');
  var shareData = Scope.import('services/share-data.js');

  var data = {
    bool: true,
    header: 'Do Not reinvent the WHEEL, Engineer it!',
    themes: [],
    shareData: shareData
  };

  var vue = new Vue({
    el: Scope.views['main'],
    data: data,
    methods: {
      shout: function (parameters) {
        data.header += '!';
      }
    }
  });



  state.onInit = function () { };

  state.onStart = function () {
    data.themes = [];
    Vue.nextTick(function () {
      for (var i = 0; i < 24; i++) {
        data.themes.push('No. ' + (i + 1));
      }
    });
  };

</script>
