/* 
    Created on : Nov 10, 2016, 8:04:25 PM
    Author     : Eeliya
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

h1 {
  font-size: 1.9em;
  cursor: default;
}

html, body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  background-color: #fafbfc;
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.main-content {
  position: absolute;
  width: calc(100% - 300px);
  height: 100%;
  left: 300px;
  overflow: auto;
  overflow-y: scroll;
}

.main-nav {
  position: absolute;
  width: 300px;
  height: 100%;
  color: #455A64;
  top: 0;
  left: 0;
  overflow: auto;
  padding:  25px;
  border-right: 1px solid rgba(0,0,0,.1);
}

.main-nav > a {
  display: block;
  padding: 15px 20px;
  color: inherit;
  text-decoration: none;
  margin: 0 0 15px;
  border-radius: 26px;
  font-weight: 500;
  line-height: 20px;
}

.main-nav > a.active, .main-nav > a.active:hover {
  background-color: #455A64;
  color: #fff;
  cursor: default;
  box-shadow: 0 0 9px rgba(0,0,0, 0.04), 0 11px 23px rgba(0,0,0, .1);
}

.main-nav > a:hover {
  background-color: rgba(0,0,0, .1);
}

.card {
  width: 540px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  margin: 15px auto;
  padding: 0;
  box-shadow: 0 0 9px rgba(0,0,0, 0.04), 0 11px 23px rgba(0,0,0, .1);
}

.card.big {
  width: 800px;
  border-radius: 12px;
  margin-bottom: 45px;
}

.card .banner {
  display: block;
  background-size: cover;
  width: 100%;
  margin: 0;
  min-height: 400px;
}

.content {
  margin-bottom: 2em;
  padding: 0 1.5em;
}

.content > h3 {
  font-weight: 300;
}

ul > li {
  padding: .4em 0;
}

galaxy-animation {
  display: block;
  position: relative;
  overflow: hidden;
}

.main-content > galaxy-animation {
  min-height: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html, body {
    font-size: 14px;
  }

  .main-content {
    top: 50px;
    left: 0px;
    width: 100%;  
    height: calc(100% - 50px);
  }

  .main-nav {
    height: 50px;
    width: 100%;
    padding: 5px;
  }

  .main-nav > a {
    padding: 10px 15px;
  }

  .card.big {
    width: auto;
    margin: 15px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  html, body {
    font-size: 16px;
  }

  .main-content {
    width: calc(100% - 220px);
    left: 220px;
  }

  .main-nav {    
    width: 220px;
    padding: 10px;
  }

  .card.big {
    width: auto;
    margin: 15px;
  }
}

.come {
  transform: translateY(15px) scale(.5);
  opacity: 0;
}

.card.come {
  opacity: 0;
  transform: translateY(100px);
}

pre.prettyprint {
  border: none;
  border-radius: 4px;
  padding: 15px;
  background-color: #eee;
  font-size: 16px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  overflow: hidden;
  background-color: #FFECB3;
  font-weight: 300;
  border-radius: 4px;
  font-size: 16px;
}

section > section {
  margin-bottom: 3em;
}

.theme-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .theme-list > .theme-item {
    width: 240px;
    height: 160px;
    background-color: #009688;
    color: #fff;
    font-size: .78em;
    font-weight: 300;
    margin: 0 auto 15px;
    display: block;
    flex: 0 0 auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.1);
  }

  .theme-item.come {
    transform: translateY(50%);
    opacity: 0;
  }