@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Created on : Nov 10, 2016, 8:04:25 PM
    Author     : Eeliya
*/
p {
  margin: 15px 0;
  line-height: 22px;
}

.bold {
  color: red;
}

hr {
  border: none;
  overflow: hidden;
  height: 2px;
  margin: 15px 0;
  background-color: #ddd;
}

h1 {
  font-size: 1.75em;
  cursor: default;
  margin: 20px 0;
  line-height: 28px;
  text-transform: capitalize;
}

h2 {
  font-size: 1.66em;
  line-height: 1;
  margin: 15px 0;
  text-transform: capitalize;
}

h3 {
  font-size: 1.30em;
  line-height: 1.15;
  margin: 15px 0;
  text-transform: capitalize;
  color: #484848;
}

h4 {
  font-size: 1.2em;
  line-height: 22px;
}

h5 {
  font-size: 1.05em;
  line-height: 22px;
}

h6 {
  font-size: 1em;
  line-height: 1;
}

h2 > a {
  float: right;
  text-decoration: none;
  font-size: .87em;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 26px;
  border-radius: 13px;
  color: #fff;
  background-color: #009688;
  opacity: .9;
  padding: 0 15px;
}

h2 > a:hover {
  opacity: 1;
}

* {
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Assistant', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  font-size: 16px;
  line-height: 22px;
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(185deg, rgba(255, 255, 255, 1) 0%, rgba(250, 251, 252, 1) 70%);
}

html {
  overflow: hidden;
}

pre, code {
  font-size: 14px;
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
}

pre *, code * {
  font-family: 'Ubuntu Mono', monospace;
}

a {
  color: #009688;
}

p.important {
  border-radius: 4px;
  background-color: #f8e5c0;
  color: #b10e21;
  font-weight: 500;
  padding: 10px;
}

.main-content {
  position: absolute;
  width: calc(100% - 270px);
  height: 100%;
  left: 270px;
  overflow: auto;
  overflow-y: scroll;
}

.main-content > main {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.main-nav {
  position: absolute;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 28px rgba(100, 103, 105, .1);
  color: #7f7f7f;
  font-weight: normal;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  white-space: nowrap;
  z-index: 100;
}

.main-nav > h1 {
  color: rgba(0, 0, 0, .25);
  pointer-events: none;
}

.nav-item {
  display: block;
  transition: background-color .2s ease-in-out;
  margin: 15px;
  border-radius: 7px;
  overflow: hidden;
}

.nav-item:hover, .nav-item a:hover {
  background-color: rgb(233, 243, 247);
}

.nav-item.active {
  background-color: rgb(233, 243, 247);
  /*background-color: rgba(0, 0, 0, 0.06);*/
}

.nav-item > a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0;
  line-height: 20px;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 1em;
}

.nav-item > a > i {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.nav-item > a > span {
  margin-left: 5px;
  display: inline-block;
}

.nav-item.active > a {
  color: #16a7e0;
  /*color: #333;*/
  font-weight: bold;
}

.sub-nav-container {
  overflow: hidden;
  color: #666;
}

.sub-nav-container > a {
  display: block;
  padding: 10px;
  font-size: .9em;
  line-height: 20px;
  margin: 0 15px;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
}

.sub-nav-container > a.active {
  background-color: rgb(203, 234, 247);
  /*background-color: rgba(0, 0, 0, 0.09);*/
  font-weight: bold;
  color: #16a7e0;
  /*color: #333;*/
}

.sub-nav-container > a:last-child {
  margin-bottom: 15px;
}

.card {
  width: 540px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.04), 0 9px 19px rgba(80, 80, 80, .08);
  position: relative;
  max-width: 100%;
}

.card.big > .card.big {
  display: block;
  width: auto;
  margin: 30px;
  border-radius: 6px;
  box-shadow: none;
  background-color: #5b5f6a;
  color: #fff;
}

.card.info-pane {
  background-color: #fff;
  position: absolute;
  margin: 0;
  border-radius: 0;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.04), -11px 0 23px rgba(0, 0, 0, .1);
}

.card .banner {
  display: block;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: auto;
  overflow: hidden;
}

.card .banner + h1 {
  position: relative;
  height: 90px;
  margin-top: -90px;
  padding: 27px 25px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .4);
  white-space: nowrap;
  background-color: rgba(0, 0, 0, .15);
  font-size: 2em;
}

.content > h2 {
  margin-top: 45px;
}

.content > h2:first-child {
  margin-top: 15px;
}

.content > h3 {
  margin-top: 30px;
}

.info-pane > .card.big {
  width: auto;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.content {
  margin-bottom: 50px;
  padding: 0 25px;
}

.content > h1 {
  margin-bottom: 0;
}

.content > h1 + h1 {
  margin-top: 0;
  color: #aaa;
  line-height: 28px;
  font-size: 1.25em;
}

.content > h1:last-of-type {
  margin-bottom: 30px;
}

.example-box {
  padding: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 15px -10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .06);
}

.example-box > *:first-child {
  margin-top: 0;
}

.example-box > *:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 15px 0;
  overflow: hidden;
}

ul > li {
  padding: 5px 0;
  overflow: hidden;
  position: relative;
  display: block;

}

ul > li > * {
  vertical-align: middle;
}

li > p {
  margin-top: 0;
  margin-bottom: 5px;
}

input[type='checkbox'] {
  margin: 0;
  border: 2px solid #000;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

input[type='checkbox'] + span {
  margin-left: 10px;
}

label.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.circle > li {
  padding-left: 15px;
}

ul.circle > li:before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  line-height: 10px;
  background-color: #555;
  margin: 13px 0 0;
  left: 0;
  top: 0;
  border-radius: 4px;
}

ul.items-list > li {
  cursor: pointer;
}

ul.items-list > li:hover {
  color: #009688;
}

@media only screen and (max-device-width: 319px) {
  html, body {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  html, body {
    font-size: 14px;
    line-height: 16px;
  }

  .main-content {
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
  }

  .main-nav {
    box-shadow: 0 5px 15px rgba(40, 40, 40, .2);
    height: 60px;
    width: 100%;
    padding: 10px 0;
    outline: none;
    overflow: hidden;
  }

  .main-nav > div {
    display: none;
  }

  .main-nav.expand {
    height: 60%;
    box-shadow: 0 15px 25px rgba(40, 40, 40, .35);
    overflow: auto;
  }

  .main-nav.expand > div {
    display: block;
  }

  .main-nav > h1 {
    text-align: center;
    margin: 5px 0 20px;
    padding: 0 15px;
  }

  .main-nav > a {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 15px;
  }

  .card {
    margin: 0;
    border-radius: 0;
  }

  .card.big {
    width: auto;
  }

  .card .banner {

  }

  .card .banner + h1 {
    padding: 15px;
    margin-top: -60px;
  }

  .content {
    margin-bottom: 45px;
    padding: 0 15px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html, body {
    font-size: 15px;
    line-height: 16px;
  }

  .main-content {
    width: calc(100% - 220px);
    left: 220px;
  }

  .main-nav {
    width: 220px;
    height: 100%;
  }

  .main-nav > h1 {
    padding: 0 12px;
  }

  .main-nav > a {
    padding: 8px 12px;
  }

  .card {
    margin: 10px;
  }

  .card.big {
    width: auto;
  }
}

@media only screen and (min-device-width: 1025px) {
  .main-nav {
    width: 270px;
    padding: 25px 0;
    height: 100%;
  }

  .main-nav > h1 {
    margin: 0 0 20px;
    padding: 0 15px 0 20px;
  }

  .card {
    margin: 20px auto 45px;
  }

  .card.big {
    width: calc(100% - 30px);
    max-width: 840px;
    border-radius: 12px;
  }
}

.out {
  transform: translateY(-100px);
  opacity: 0;
}

.card.out {
  opacity: 0;
  transform: translateY(100px);
}

.card.info-pane.out {
  opacity: 1;
  transform: translateX(100%);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0), -11px 0 23px rgba(0, 0, 0, 0);
}

.card.info-pane > .content.out {
  opacity: 0;
  transform: translateX(15%);
}

pre.prettyprint {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #eee;
  font-size: .85em;
  line-height: 1.4em;
}

code.prettyprint {
  background-color: #eee;
  padding: 1px 3px;
  margin-top: -1px;
  border-radius: 4px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  overflow: hidden;
  background-color: #ffecb3;
  font-weight: 300;
  border-radius: 4px;
  font-size: 16px;
}

section > section {
  margin-bottom: 3em;
}

.theme-list {
  perspective: 750px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.theme-list > .theme-item {
  width: 120px;
  height: 80px;
  background-color: #009688;
  color: #fff;
  font-size: .58em;
  font-weight: 300;
  margin: 0 auto 5px;
  display: block;
  flex: 0 0 auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .1);
  transform-origin: left top;
}

.theme-item.out {
  transform: scale(.5);
  opacity: 0;
}

.btn-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: .2em 0;
}

.btn-link:hover {
  color: #009688;
}

.field {
  display: block;
  position: relative;
  font-weight: 500;
  margin-bottom: 15px;
}

.field > label {
  display: block;
  font-weight: 600;
  color: #444;
  padding: 5px 0 10px;
}

.field > span {
  font-size: 13px;
  color: #888;
  display: block;
  line-height: 20px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 2px;
  text-align: right;
  transition: all .3s ease-in-out;
}

input, select {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: #eee;
  width: 100%;
  display: block;
  padding: 10px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
}

.field:not([empty]) > .not-empty {
  color: #009926;
  height: 20px;
  opacity: 1;
}

.field[empty] > .empty {
  height: 20px;
  opacity: 1;
}

.field[empty] > label {

}

.field[focus] > label {
  color: #455a64;
}

.field[focused] > input, .field[focused] > select {
  border-color: #607e8c;
}

.color-item {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  background-clip: border-box;
  outline: none;
  margin: 0 5px 5px 0;
}

.done {
  opacity: .3;
}

button {
  background-color: #bfbfbf;
  /*background-color: transparent;*/
  border: 2px solid transparent;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  font-weight: 600;
  margin: 0 .6em;
  outline: none;
  padding: .6em 1em;
  border-radius: 3px;
  transition-property: transform, border-color, background-color;
  transition: all 90ms linear;
  user-select: none;
  display: inline-block;
  text-transform: uppercase;
}

button:first-of-type {
  margin-left: 0;
}

button:last-of-type {
  margin-right: 0;
}

button:hover, button:focus {
  border-color: #909090;
  /*box-shadow: 0 0 5px rgba(0,0,0,.1), 0 5px 15px rgba(0,0,0,.1);*/
}

button:active {
  background-color: #909090;
  transform: scale(.94);
}

button:disabled {
  cursor: default;
  opacity: .5;
}

button:disabled:hover {
  border-color: transparent;
}

.fa-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row.start {
  align-items: flex-start;
}

.flex-row.grid > * {
  flex: 1 0 auto;
  max-width: 50%;
}

.flex-row > * {
  flex: 0 1 auto;
}

.flex-item-50 {
  flex: 1 1 auto;
  max-width: 50%;
}

.flex-item-25 {
  flex: 1 1 auto;
  max-width: 25%;
}

.flex-item-al {
  align-self: inherit;
}

a.icon {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  color: #333;
  transition: background-color .1s linear;
}

a.icon:hover {
  background-color: #e0e0e0;
}

a.icon > img {
  display: block;
}

a.icon.link {
  border-radius: 20px;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px 10px 5px 5px;
  line-height: 22px;
}

a.icon.link > * {
  vertical-align: middle;
  display: inline-block;
}

a.icon.link > i {
  font-size: 30px;
  margin-right: 5px;
}

a.icon.gitter {
  line-height: 20px;
  padding: 4px;
  border-radius: 6px;
}

.ta-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

p.example {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.box-container {
  margin: 0 -8px;
}

.box {
  display: inline-block;
  width: 85px;
  /*line-height: 85px;*/
  /*background-color: #d05e77;*/
  /*border-radius: 0 10px 10px;*/
  /*margin: 8px;*/
  color: #fff;
  position: relative;
}

.box > .height {
  display: block;
  padding-top: 100%;
}

.box > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px;
  background-color: #d05e77;
  line-height: 1;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;

}

.dialog {
  background-color: #fff;
  box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.04), 0 11px 23px rgba(80, 80, 80, .1);
  position: fixed;
  width: 500px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  z-index: 10;
}

.dialog-animation {
  background-color: #000;
}

.loader {
  width: 100px;
  height: 100px;
  top: calc((100% - 50px) / 2);
  left: calc((100% - 50px) / 2);
  border-width: 4px;
  border-style: solid;
  border-color: #000 transparent;
  border-radius: 50%;
  display: block;
  animation: spin 1s infinite linear;
  position: absolute;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
